/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* break */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  background-color: #fff;
  margin-left: 200px;
  margin-right: 150px;
}



.metrolicsheader {
  display: flex;
  align-items: flex-end;
  padding-top: 50px;
  float: left;
  align-items: center;
  padding-right: 50px;
  font-size: medium;
  margin-left: 130px;
}

.topmenu {
  display: flex;
  float: left;
  align-items: center;
  padding-top: 20px ;
  padding-left: 10px;
  padding-right: 50px;
}

.topmenu1 {
  background-color: mediumaquamarine;
  color: white;
  width: 130px;
  height: 110px;
  font-size: small;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-weight: bold;
}
.topmenu2 {
  background-color: rgb(255, 208, 0) ;
  color: white;
  width: 130px;
  height: 110px;
  font-size: small;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-weight: bold;
}
.topmenu3 {
  background-color: rgb(232, 88, 88) ;
  color: white;
  width: 130px;
  height: 110px;
  font-size: small;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-weight: bold;
}
.topmenu4 {
  background-color: rgb(84, 115, 251) ;
  color: white;
  width: 130px;
  height: 110px;
  font-size: small;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-weight: bold;
}
.topmenu5 {
  background-color: rgb(48, 38, 252);
  color: white;
  width: 130px;
  height: 110px;
  font-size: small;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-weight: bold;
}

.topslideshowimage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: white;
  height: 511px;
  width: 100%;
}

.slideshowbackground {
  background-color: #cacaca;
  height: 511px;
  width: 1825px;
  position: absolute;
  transform: translate(-25%, -100%);
  z-index: -1;
}

.arrowicon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 75px;
  width: 75px;
  transform: translate(30%, -375%) rotate(180deg);
  opacity: 0.75;
}

.arrowicon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 75px;
  width: 75px;
  transform: translate(1440%, -475%);
  opacity: 0.75
}

.arrowicon1:hover {
  opacity: 1.0;
  transition: 0.3;
}

.arrowicon2:hover {
  opacity: 1.0;
}

.mainheader {
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 50px;  
  margin-top: -50px;
  font-size: larger;
}

.thingswedocards {
  flex-direction: column;
  columns: 4;
  padding-top: 25px;
}

.bodyheader {
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
}

.bodysubheader {
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
}

.icon {
  width: 84px;
  height: 84px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.thingswedocard {
  width: 220px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.whatsupcards {
  flex-direction: column;
  columns: 3;
  padding-top: 25px;
}

.cardimage {
  height: 225px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.cardtext {
  width: 310px;
  height: 40px;
  position: absolute;
  transform: translate(-0%, -32%); 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 15px; 
  text-align: left;
  background-color: rgb(45, 192, 255);
}

.cardsubtext {
  width: 310px;
  height: 25px;
  position: absolute;
  transform: translate(-0%, 20%); 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 10px; 
  text-align: left;
  display: flex;
}

.cameraicon {
  width: 40px;
  height: 40px;
  background-color: rgb(42, 159, 210);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-left: 290px;
  color: white;
}

.scrollbar {
  background-color: #c6c6c6;
  height: 2px;
  width: 1173px;
  margin-top: 50px;
  position: relative;
}

.scrollbarhighlight {
  background-color: rgb(42, 159, 210);
  height: 4px;
  width: 350px;
  margin-top: 50px;
  position: relative;
}

.cardimage2 {
  height: 225px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.latestprojectcards {
  flex-direction: column;
  columns: 3;
  padding-top: 25px;
}

.footer {
  background-color: rgb(22, 36, 47);
  color: white;
  position: absolute;
  left: 0;
}

*{
  box-sizing: border-box;
}

.column {
  float: left;
}

.columnOne {
  width: 25%;
float: left;
}

.columnTwo {
  width: 25%;
  float: left;
}

.columnThree {
  width: 25%;
float: left;}

.columnFour {
  width: 25%;
float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  align-items: center;
}

button {
  margin-left: 10px;

}

.img-size img {
  height: 20px;
  width: 20px;
}